<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d4dd8b770b.js" crossorigin="anonymous"></script>    
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">    
    <title>Craftsy</title>
</head>
<body class="home">
    <header>
        <div class="top">
        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="burger">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        </div>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="product_cards">
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-1.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-02.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-03.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-1.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-02.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
            <article>
                <div class="img_producto">
                    <img src="/img/img-phone-03.jpg" alt="">
                </div>
                <h3>Nombre del Producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus ipsum cumque, iure molestiae laboriosam vero id eligendi amet, animi quod? Possimus aliquam, ex quibusdam sunt nulla iusto voluptate dolore?</p>
                <a href="">ver mas</a>
            </article>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <article>
                        <img src="/img/aside-01.jpg" alt="">
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                        <img src="/img/aside-02.jpg" alt="">
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                        <img src="/img/aside-03.jpg" alt="">
                    <p>Titulo de tutorial de reparacion</p>
                </article>
                <article>
                        <img src="/img/aside-04.jpg" alt="">
                    <p>Titulo de tutorial de reparacion</p>
                </article>
            </section>
            <section class="publicidad">
                <h2>Publicidad</h2>
                <div>
                    <a href="">
                        <img src="/img/ad-01.jpg" alt="add01">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img src="/img/ad-02.jpg" alt="add02">
                    </a>
                </div>
            </section>
        </aside>
    </main>
</body>
</html>