.home main{
    width: 98%;
    margin: 0 auto;
}

/* productos */
.home main .product_cards{
    background-color: white;
    padding: 10px;
}

.home main .product_cards article{
    margin: 0 0 30px;
}

.home main .product_cards article:last-child{
    margin: 0;
}

.home main .product_cards article img{
    width: 100%;   
}

.home main .product_cards article h3{
    margin: 20px 0;
}
/* ver mas */
.home main .product_cards article a{
    background-color: var(--Alfonzo);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}

.home aside{
    margin-top: 20px;
}

.home aside section h2{
    padding: 10px;
    background-color: white;
    margin: 10px 0;
    border: 1px solid var(--Poroto);
}

.home aside section article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    margin: 1px 0;
    padding: 5px;
    border: 1px solid var(--Poroto);
}

.home aside section article p{
    width: 50%;
    margin: 0 10px;
}

.home aside .publicidad img{
    width: 100%;
}
/* tablet */
@media (min-width:426px) {
    .home main .product_cards{
        background-color: white;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home main .product_cards article{
        margin: 0 0 20px;
        width: 48%;
    }
    .home main .product_cards article:nth-child(5){
        margin: 0;
    }
    .home main .product_cards article p{
        font-size: small;
    }
    .home main aside section .grid{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 10px;
    }
    .home aside article{
        justify-content: center;
    }
    .home aside article p{
        width: 80%;
        margin: 10px 10px;
        text-align: center;
    }
    .home aside .publicidad h2{
        width: 100%;
    }
    .home aside .publicidad{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home aside .publicidad .propaganda{
        width: 48%;
    }
    
}
/* desktop */
@media (min-width:769px) {
    
}